    GLOBAL_SETTINGS
    LAB_MASTER_SEED steg_identification_student_master_seed
NETWORK SOME_NETWORKS
     MASK 173.30.0.0/24
     GATEWAY 173.30.0.100
CONTAINER attacker
     USER ubuntu
     X11 YES
     SOME_NETWORKS 173.30.0.3
CONTAINER monitor
     USER ubuntu
     X11 YES
     SOME_NETWORKS 173.30.0.4
