GLOBAL_SETTINGS
LAB_MASTER_SEED steg-identification_student_master_seed
REGISTRY ducthinhdt472003

NETWORK steg_network
    MASK 173.30.0.0/24
    GATEWAY 173.30.0.100

CONTAINER attacker
    USER ubuntu
    X11 YES
    steg_network 173.30.0.3

CONTAINER monitor
    USER ubuntu
    X11 YES
    steg_network 173.30.0.4

